<% include partials/_header %>



<section class="secproveedores">
    <h2 class="subtitle"   id="proveedores">Menu - del negocio</h2>
    <p></p>
    <h4 class="subtitle"   id="proveedores">Registro de los negocios de comida</h4>
    <h6>Deberas ingresar platillo del negocio localizando primero el id del negocio para asignarlo</h6>
    <p></p>
        <form id="Proveedores-direccion" action="/addProductos"  method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputName">Id Producto</label>
                    <input type="text" class="form-control" name="IdProducto" placeholder="1111111">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Id del Local</label>
                    <input type="text" class="form-control" name="IdLocal" placeholder="ID del local">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputName2">Producto</label>
                    <input type="text" class="form-control" name="Producto" placeholder="Nombre del producto x">
                  </div>
                  <div class="form-group col-md-2">
                        <label for="inputPhone">Precio</label>
                        <input type="number" class="form-control" placeholder="$$.$" name="Precio">
                 </div>
                 <div class="form-group col-md-6">
                     <label for="inputEmail">Descripcion</label>
                     <input type="text" class="form-control" name="Descripcion" placeholder=" Pequeña descripcion del producto">
                 </div>
                 
                </div>
                <button type="submit" class="btn" id="btn-color" >Registrar Producto</button>
                <p></p>
         </form>




   
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Id Producto</td>
            <td>Id Local</td>
            <td>Producto</td>
            <td>Precio</td>
            <td>Descripcion</td>
            <td>Accion</td>
          </tr>
        </thead>
        <tbody>
          <% if (datas) { %>
            <% for(var i = 0; i < datas.length; i++) { %>
              <tr>
                <td><%= datas[i].IdProducto %></td>
                <td><%= datas[i].IdLocal %></td>
                <td><%= datas[i].Producto %></td>
                <td><%= datas[i].Precio %></td>
                <td><%= datas[i].Descripcion %></td>
                <td>
                  
                  <a href="/deleteProductos/<%= datas[i].IdProducto %>" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<% include partials/_footer %>
